@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,800;1,100;1,200;1,300&display=swap") ;
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Poppins", sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f;
}
.box{
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 30px;
    background: #9393;
    padding: 30px 50px;
    box-shadow: 25px 25px 75px rgb(0,0,0,1),
    10px 10px 70px rgb(0,0,0,1),
    inset 5px 5px 10px rgb(0,0,0,1.5),
    inset 5px 5px 20px rgb(255,255,255,0.2),
    inset -5px -5px 15px rgb(0,0,0,1.25)

}
h2{
    width: 100%;
    font-weight: 600;
    text-align: center;
    font-size: 1.75rem;
}
#inputBx{
    position: relative;
    width: 100%;
}
#inputBx {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1.5rem;
    box-shadow: 5px 5px 7px rgb(0,0,0,1),inset 2px 2px 5px rgb(0,0,0,0.25),inset -3px -3px 5px rgb(0,0,0,1.25);
}
.box li{
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    background:#e3070e;
    margin: 15px 0;
    padding: 10px 10px 10px 45px;
    min-height: 45px;
    cursor: pointer;
    border-radius: 22.5px;
    color:#fff;
    box-shadow: 5px 5px 7px rgb(0,0,0,1),inset 2px 2px 5px rgb(0,0,0,0.25),inset -3px -3px 5px rgb(0,0,0,1.25);
}
.box li i{
    position: absolute;
    right: -40px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 7px rgb(0,0,0,1),inset 2px 2px 5px rgb(0,0,0,0.25),inset -3px -3px 5px rgb(0,0,0,1.25);
}
.box li i::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #0d0e0e;
    transform: rotate(45deg);
}
.box li i::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #0b0d0e;
    transform: rotate(-45deg);
}
.box li::before{
    content: '';
    position: absolute;
    left: 8px;
    width: 30px;
    height: 30px;
    background: #dfdadd;
    border-radius: 50%;
}
.box li.done
{
    background: rgb(46, 203, 114);
}
.box li .done:after
{
    content: '';
    position: absolute;
    left: 16px;
    width: 12px;
    height: 6px;
    border-left: 2px solid #afa7a7;
    border-bottom: 2px solid #dcc9c9;
    transform: rotate(315deg);
}
#list
{
    position: relative;
    margin-top:20px;
    height: 250px;
    overflow-y: auto;
    padding-right: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px rgb(0,0,0,1);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb
{
    background: rgb(16, 212, 186);
}